@import "tailwindcss";
@import "tw-animate-css";

.cursiva{
   font-family: "Dancing Script", cursive;
   font-optical-sizing: auto;
}

.cursiva2{
  font-family: "Lobster", sans-serif;
  font-optical-sizing: auto;
}

body {
   font-family: "TASA Orbiter", sans-serif;
  font-optical-sizing: auto;
}

.fc .fc-timegrid-col.fc-day-today{
  background-color: #dbeafe5e !important;
}

.past-time-slot{
  background-color: #f0f0f0 !important; 
}